* {
	margin: 0;
	padding: 0;
}

h1 {
	padding-top: 30px;
	text-align: center;
	font-family: 'Permanent Marker', cursive;
	letter-spacing: 10px;
}

p {
	text-align: center;
	padding: 20px 0px;
	font-family: 'DM Serif Display', serif;
}

p.turnresult {
	padding: 5px;
}

.game-outer {
	width: 100%;
	text-align: center;
}

.scoreboard {
	display: grid;
	grid-template-columns: 1fr 1fr;
	max-width: 300px;
	justify-content: center;
	text-align: center;
	margin: 0 auto 20px;
}

.scores {
	justify-content: center;
	text-align: center;
}

.scores p {
	margin: -3%;
}

.userscore, .compscore {
	border-style: solid;
	border-color: #178e83;
	margin: 10px;
}

.userscore p, .compscore p {
	font-size: 20px;
}

.result {
	padding-bottom: 20px;
}

.images {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 10px;
}

img {
	max-width: 28%;
	max-height: 150px;
	padding: 10px 10px;
}

img:hover {
	transform: scale(1.1);
	transition: all 0.5s;
}

.mr-div {
	max-width: 80%;
	align-items: center;
	justify-content: center;
	padding: 10px 10px;
	margin: 15px 20%;
}

@media only screen and (max-width: 380px) {

	h1 {
		font-size: 20px;
	}

	p.turnresult {
		padding-bottom: 5px;
	}

	.images {
		margin: 0 auto;
		width: 80%;
	}
}